/* *{
  border: solid 1px black;
} */
nav{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid grey;
  position: fixed;
  width: 100%;
}

nav ul {
list-style-type: none;
display: flex;
flex-direction: row;
padding-left: 0px;
}

li{
  margin-left: 10px;
  margin-right: 10px;
}
