nav{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav ul {
list-style-type: none;
display: flex;
flex-direction: row;
}

li{
  margin-left: 10px;
  margin-right: 10px;
}
